.cab-cont
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font: bold 10vw 'Lobster',cursive;
    color: #641E16;
    margin-top: 1vw;
    text-align: center;
    animation-duration: 1s;
    animation-name: bounceOut;
}

.subtitulo {
    font: bold 7vw 'Lobster',cursive;
    color: #ffc300;
    margin-top: -5vw;
    text-align: center;
    text-shadow: 1px 1px 1px #FF0000;
    animation-duration: 1s;
    transform-origin: center;
    animation-name: rotateIn;
}

.horario {
    font: bold 6vw 'Lobster',cursive;
    color: #ffc300;
    margin-top: -5vw;
    text-align: center;
    text-shadow: 1px 1px 1px #FF0000;
    animation-duration: 1s;
    transform-origin: center;
    animation-name: rotateIn;
}